# Twitter API keys
twitter_secrets.txt

# PyCharm files
.idea/

# Virtual environment
venv/

# Cached bytecode
*/__pycache__/

# COVID Tweet IDs. There's a lot which make git pushing and pulling slow
data/tweets/covid_tweet_ids/

# DS_Store files for subdirectories
.DS_Store

