# Twitter API keys
twitter_secrets.txt

# PyCharm files
.idea/

# Virtual environment
venv/

# Cached bytecode
*/__pycache__/

# COVID Tweet IDs
data/tweets/covid_tweet_ids/

# DS_Store files for subdirectories
.DS_Store

